{% extends "forum/base.html" %}
{% load static %}

{% block title %}{{ post.category.title }}{% endblock %}

{% block content %}
<div class="container mt-4"> <!-- Add container and margin-top to create space -->
    <div class="row">
        <div class="col-md-8">
            <div class="post-detail">
             
                {% if post.image %}
                <img src="{{ post.image.url }}" class="post-picture img-fluid mb-3" alt="{{ post.name }}">
                {% else %}
                <img src="{% static 'img/no_image.png' %}" class="post-picture img-fluid mb-3" alt="No Image">
                {% endif %}
                
                <h1 class="post-title">{{ post.name }}</h1>
                <h2 class="post-category">{{ post.category }}</h2>
                <p class="post-content">{{ post.content|linebreaks }}</p>
                <p class="post-date">{{ post.created|date:"F d, Y" }} by {{ post.author }}</p>
                <a href="{% url 'forum:post_list' %}" class="btn btn-primary">Go to Home</a>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Add space from sidebar content if needed -->
        </div>
    </div>
</div>
<div class="post-comments container mt-4"> <!-- Add margin-top for comments section -->
    <!-- Rest of your comments section -->
<h2>{{ comments.count }} comment{{ comments.count|pluralize }}</h2>
    
    {% for comment in comments %}
    <div class="comment">
        <div class="comment-header">
            <span class="comment-author">{{ comment.author }}</span>
            <span class="comment-date">{{ comment.created|date:"F d, Y" }}</span>
        </div>
        <p class="comment-content">{{ comment.content|linebreaks }}</p>
    </div>
    {% empty %}
    <p class="no-comments">There are no comments.</p>
    {% endfor %}
    {% include "forum/post/includes/comment_form.html" %}
    <div class="mt-4"></div>
</div>
{% endblock %}

