{% extends "forum/base.html" %}
{% load static %}
{% block title %}{% if category %} {{ category.name}}{% else %}Posts{% endif %}
{% endblock %}

{% block content %}
<aside>
<section class="categories">
<h2>Categories</h2>
{% for c in categories %}
  {% if category.slug == c.slug %}{% endif %}
<a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
{% endfor %}
<!--<h3>{% if category %}{{ category.name }}{% else %} Posts{% endif %}</h3> -->
</section>
</aside>
<section class="posts">
{% for p in posts %}
<article>
<a href="{{ p.get_absolute_url }}"><figure><img src="{% if p.image  %}{{ p.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}" > 
<figcaption><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></figcaption>
</figure>
<hgroup>
<h2>{{ p.category }}</h2>
<h3>{{ p.title }} </h3>
</hgroup>
<p>{{ p.content|truncatewords:40 }}</p>
</article>
{% endfor %}
</section>
{% endblock %}
