{% load static %}
<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=2.0,width=device-wodth"/>
    <title>{% block title %}Nairum{% endblock title %}</title>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div class="wrapper">
<header>
<nav>
<ul>
{% if user.is_authenticated %}
<li><a class="nav-link"  href="{% url 'account_logout' %}">logout<a></li> 

<li><a class="nav-link" href="{% url 'forum:post_create' %}">Createpost</a></li>
{% else %}
<li><a class="nav-link" href="{% url 'account_login' %}">login</a></li>
<li><a class="nav-link" href="{% url 'account_reset_password' %}">Reset password</a></li>
<li><a class="nav-link" href="{% url 'account_change_password' %}">Change Password</a></li>
<li><a class="nav-link" href="{% url 'account_signup' %}">signup</a></li>
{% endif %}
<li><a class="nav-link" href="{% url 'forum:post_list' %}">posts</a></li>
</nav>
</header>
{% block content %}


{% endblock content %}
</div>
<script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script>
const csrftoken = Cookies.get("csrftoken");
document.addEventListener('DOMConnectLoaded', (event) => {
{% block domready %}
{% endblock %}
})
</script>
</body>
    </html>
