<div class="container mt-4">
<div class="card">
<div class="card-header">
<h3 class="card-title">Add a new comment</h3>
</div>
<div class="card-body">
<form action="{% url "forum:post_comment" post.id %}" method="post" class="comment-form">
{% csrf_token %}
<div class="form-group">
<textarea class="form-control" name="{{ form.content.name }}" rows="4" placeholder="Write a comment...">{{ form.content.value }}</textarea>
</div>
<div class="mt-4"></div>
<button type="submit" class="btn btn-primary float-end">Comment</button>
<div class="mt-4"></div>
</form>
</div>
</div>
</div>
